"""{{package_name}} main entrypoint."""

def get_package_name() -> str:
    """Returns the defined package_name."""
    return "{{package_name}}"

def main():
    """Main entrypoint. Salutes the package_name."""
    print(f"Hello {get_package_name()}!")
